<script src="https://kit.fontawesome.com/5744b7bef6.js" crossorigin="anonymous"></script>
<header>
    <button type="button" class="menu"><i class="fa-solid fa-bars"></i></button>
    <div class="brand">
      <div class="logo">Logo</div>
    </div>
    <nav class="nav">
      <button type="button" class="close-menu">&times</button>
      <a href="/">Home</a>
      <a href="/products">Products</a>
      <a href="#about">About</a>
    </nav>
    <!-- check if the user is logged in, if yes display the profile button in ejs-->
    <% if (locals.user) { %>
      <button class="profile-button">Profile</a>
    <% } else { %>
      <button id="sign-in-button" class="sign-in-button">Sign in</button>
    <% } %>
    
</header>


<style>
:root{
--text: #434343;
--background: #fdf5f1;
--primary: #e25f20;
--secondary: #63d2ef;
--accent: #6c4fe8;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: .3rem 3rem;
  background-color: var(--background);
}
.nav a {
  text-decoration: none;
  color: var(--text);
  margin-inline: 1rem;
  position: relative;
  padding-block: .5rem;
}
.nav a:hover {
  color: var(--primary);
  transition: all 400ms ease-in-out;
}
.nav a::before{
  content: '';
  position: absolute;
  height: 2px;
  left: 100%;
  opacity: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--accent);
  transition: all 400ms ease-in-out;
  color: var(--primary);
}
.nav a:hover::before{
  opacity: 1;
  left: 0;
}
.nav .close-menu {
  display: none;
  border: none;
  background-color: transparent;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
#sign-in-button {
  border: none;
  background-color: transparent;
  padding: 1rem;
  cursor: pointer;
}
.menu {
  border: none;
  background-color: transparent;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 780px) {
  header {
    padding-block: 1.5rem;
    padding-inline: 1rem;
    justify-content: space-between;
  }
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 50vw;
    height: 100vh;
    padding-top: 5rem;
    padding-left: 1rem;
    margin-block: 1rem;
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    backdrop-filter: blur(5px);
    margin: 0;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    transform: translateX(-100%);
    transition: transform 400ms ease-in-out;
  }
  .nav.show {
    transform: translateX(0);
  }
  .nav .close-menu {
    display: block;
  }
  .menu {
    display: block;
  }
}

</style>


<script>
const nav = document.querySelector('.nav');
const menuButton = document.querySelector('.menu');
const close_menu = document.querySelector('.close-menu');

menuButton.addEventListener('click', () => {
  nav.classList.add('show');
});

close_menu.addEventListener('click',()=>{
  nav.classList.remove('show');
})

</script>
