
<div>
	<div class="sign-in-popup">
		<button class="close-popup">&times</button>

		<form class="sign-in-form show">
			<h1>Sign in</h1>
			<div class="inputfield">
				<label for="username">Username</label>
				<input type="text" name="username" id="username" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
			</div>
			<div class="inputfield">
				<label for="password">Password</label>
				<div class="password-input">
					<input type="password" name="password" id="password" class="password" required>
					<button type="button" class="reveal-sign-in reveal" title="Show Password"></button>
				</div>
			</div>
			<button type="submit" id="sign-in">Sign in</button>
			<button type="button" id="register-button">Register</button>
		</form>
		
	

		<form action="/register" class="register-form">
			<h1>Register</h1>
			<div class="inputfield">
				<label for="first-name">First Name</label>
				<input type="text" name="first-name" id="first-name">
			</div>
			<div class="inputfield">
				<label for="last-name">Last Name</label>
				<input type="text" name="last-name" id="last-name">
			</div>
			<div class="inputfield">
				<label for="reg-username">Username</label>
				<input type="text" name="reg-username" id="reg-username">
			</div>
			<div class="inputfield">
				<label for="email">Email</label>
				<input type="email" name="email" id="email">
			</div>
			<div class="inputfield">
				<label for="reg-password">Password</label>
				<div class="password-input">
					<input type="password" name="reg-password" id="reg-password" class="reg-password">
					<button type="button" class="reveal reveal-register" title="Show Password"></button>
				</div>
			</div>
			<div class="inputfield">
				<label for="confirm-password">Confirm Password</label>
				<div class="password-input">
					<input type="password" name="confirm-password" id="confirm-password" class="confirm-password">
					<button type="button" class="reveal reveal-confirm-register" title="Show Password"></button>
				</div>
			</div>
			<div class="inputfield">
				<label for="phone-number">Phone Number</label>
				<input type="tel" name="phone-number" id="phone-number">
			</div>
			<button type="submit" class="register">Register</button>
			
			<button type="button" class="back-to-sign-in">Back to Sign in</button>
		</form>
	</div>
</div>

